<%- include('partials/header', { title: "Home" }) %>

<div class="home-container">
    <h2>Welcome to the Movie App!</h2>
    <p>Manage your personal collection of movies.</p>

    <div class="action-buttons">
        <a href="/movies" class="btn btn-primary">See All Movies</a>
        <a href="/movies/new" class="btn btn-success">Add New Movie</a>
    </div>
</div>

<%- include('partials/footer') %>